

.hideme {
	opacity: 0;
	// transform: translateX(-15px);
	transition: 700ms !important;
}
.del200 	{transition-delay: 200ms !important;}
.del400 	{transition-delay: 400ms !important;}
.del600 	{transition-delay: 500ms !important;}
.del800 	{transition-delay: 600ms !important;}
.del1000 	{transition-delay: 1000ms !important;}
.del1200 	{transition-delay: 1200ms !important;}
.del1400 	{transition-delay: 1400ms !important;}
.del1600 	{transition-delay: 1600ms !important;}

.hideme_up {
	transform: translateY(45px);
}
.hideme_left {
	transform: translateX(-45px);
}
.hideme_right {
	transform: translateX(45px);
}
.hideme_down {
	transform: translateY(-45px);
}

.hideme_visible {
	// transition-delay: 3000ms;
	transform: none !important;
	opacity: 1;
}


.no-scroll {
	overflow: hidden;
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}

.img-resp {
	width: 100%;
	height: auto;
}

.full-width {
	width: 100%;
}

.mb-0 	{margin-bottom: 0 !important;}
.mb-10 	{margin-bottom: 10px !important;}
.mb-20 	{margin-bottom: 20px !important;}
.mb-30 	{margin-bottom: 30px !important;}
.mb-40 	{margin-bottom: 40px !important;}
.mb-60 	{margin-bottom: 60px !important;}
.mb-80 	{margin-bottom: 80px !important;}
.mb-100 {margin-bottom: 100px !important;}
.mb-130 {margin-bottom: 130px !important;}
.mb-200 {margin-bottom: 200px !important;}

// .pb-40 {padding-bottom: 40px !important;}
// .pb-140 {padding-bottom: 140px !important;}

	@media screen and (max-width: 1200px) {
    	.hidden-to-xl {
    		display: none !important;
    	}
    }
    @media screen and (max-width: 992px) {
    	.hidden-to-lg {
    		display: none !important;
    	}
    }
    @media screen and (max-width: 768px) {
    	.hidden-to-md {
    		display: none !important;
    	}
    	.h-md-hide-br {
    		br {
    			display: none;
    		}
    	}
		.mb-30 	{margin-bottom: 20px !important;}
		.mb-40 	{margin-bottom: 30px !important;}
		.mb-60 	{margin-bottom: 40px !important;}
		.mb-80 	{margin-bottom: 60px !important;}
		.mb-100 {margin-bottom: 80px !important;}
		.mb-130 {margin-bottom: 105px !important;}
		.mb-200 {margin-bottom: 160px !important;}
		// .pb-14 {padding-bottom: 10px !important;}
    }
    @media screen and (max-width: 568px) {
		// .mb-20 	{margin-bottom: 10px !important;}
		.mb-30 	{margin-bottom: 20px !important;}
		.mb-40 	{margin-bottom: 25px !important;}
		.mb-60 	{margin-bottom: 35px !important;}
		.mb-80 	{margin-bottom: 45px !important;}
		.mb-100 {margin-bottom: 60px !important;}
		.mb-130 {margin-bottom: 75px !important;}
		.mb-200 {margin-bottom: 135px !important;}
    }
    @media screen and (max-width: 413px) {
		.mb-30 	{margin-bottom: 15px !important;}
		.mb-40 	{margin-bottom: 20px !important;}
		.mb-60 	{margin-bottom: 30px !important;}
		.mb-80 	{margin-bottom: 40px !important;}
		.mb-100 {margin-bottom: 50px !important;}
		.mb-130 {margin-bottom: 60px !important;}
		.mb-200 {margin-bottom: 100px !important;}
    }
